@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding-top: 60px;
}
body .line {
  width: 100%;
  height: 0.0625rem;
  background-color: #1e1e20;
  margin-top: 10px;
}
body .timer {
  font-size: 70px;
  font-weight: lighter;
  max-width: 480px;
  margin-top: 140px;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  position: fixed;
  top: 0px;
  background-color: black;
  width: 100%;
}
body .buttons {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;
  margin-top: 25px;
}
body .buttons button {
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: bold;
  border: none;
}
body .buttons .reset {
  color: #a1a1a1;
  background-color: #333333;
  display: none;
}
body .buttons .reset:hover {
  color: #b5b5b5;
  background-color: #171717;
}
body .buttons .lap {
  color: #a1a1a1;
  background-color: #333333;
}
body .buttons .lap:hover {
  color: #b5b5b5;
  background-color: #171717;
}
body .buttons .start {
  color: #2ecb55;
  background-color: #0a2a12;
}
body .buttons .start:hover {
  color: #2bb04c;
  background-color: #071b0c;
}
body .buttons .stop {
  color: #fb4133;
  background-color: #451117;
  display: none;
}
body .buttons .stop:hover {
  color: #d4372c;
  background-color: #2c0c0f;
  display: none;
}
body .buttons .little {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
body .buttons .little .first {
  width: 7px;
  height: 7px;
  background-color: #fafafa;
  border-radius: 5px;
}
body .buttons .little .second {
  width: 7px;
  height: 7px;
  background-color: #595959;
  border-radius: 5px;
}
.footer1 {
  display: flex;
  justify-content: center;
  gap: 130px;
  height: 58px;
  position: fixed;
}
.footer {
  display: flex;
  background-color: black;
  color: #fff;
  text-align: center;
  bottom: 0;
  width: 100%;
}
.a1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
a {
  text-decoration: none;
  color: #a5a3a6;
}
.textcolor1 {
  font-size: small;
}
.textcolor {
  color: #db9f2f;
  font-size: small;
}
.lapList {
  margin-top: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.Lap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}